{
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "endOfLine": "auto",
  "tailwindStylesheet": "./frontend/src/index.css",
  "tailwindFunctions": ["cn", "clsx"],
  "overrides": [
    {
      "files": "**/*.html",
      "options": {
        "printWidth": 140
      }
    }
  ],
  "plugins": ["prettier-plugin-tailwindcss"]
}
